
<div>
  <h2>Thank you for visiting Desk-Dash. Made with ❤️ by table 6 </h2>

  <ul>
    <li><a href="https://www.lewagon.com/?utm_source=google_ads&utm_medium=cpc&utm_campaign=purebrandex&utm_term=lewagon&gclid=Cj0KCQjwpZT5BRCdARIsAGEX0zmUlxDTx2h09kX4Dxc8e_jdlqx8EMVKSqFzSFLcxVdZCXLkR-pOvI8aArtgEALw_wcB" ><i class="far fa-keyboard"></i></a></li>
    <li><a href="https://github.com/benediktms/desk-dash"><i class="fab fa-github-square"></i></a></li>

  </ul>

</div>
