
<title>Details of the space <%= @space.name %></title>


<h2>price: <%= @space.price%></h2>
<h2>number_of_desks: <%= @space.number_of_desks%></h2>
<h2>address: <%space.address%></h2>


<%= link_to 'Back to spaces list', spaces_path %>


