<nav class="navbar navbar-dark bg-dark d-flex justify-content-between">
  <div class="p-2 bd-highlight text-white">Logo goes here</div>
  <div class="p-1 bd-highlight dropdown">
    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-user-circle text-white" style="font-size: 30px"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Login</a>
      <a class="dropdown-item" href="#">Logout</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</nav>