<div class="bg-dark text-white justify-content-center overflow-hidden">

  <div class="row">
    <div class="col">
      <p class="text-center pt-3">Thank you for visiting <a href="https://github.com/benediktms/desk-dash" class="text-reset text-monospace text-danger">Desk-Dash</a>. Made with ❤️ by Local Response @ <a href="https://www.lewagon.com/" class="text-reset text-monospace text-danger">Le Wagon</a></p>
    </div>
  </div>

</div>
