<%#= render 'shared/navbar' %>
<div class="container">
  <div class="row">

    <div id="carouselExampleSlidesOnly" class="carousel slide pt-5" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1531973576160-7125cd663d86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" class="d-block w-75" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1505232631822-65821c2d91bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" class="d-block w-75" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1527792492728-08d07d011113?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" class="d-block w-75" alt="...">
        </div>
      </div>
    </div>
  </div>

    <div class="content">
      <div class="cards">
        <div class="card" style="background-image: url(https://images.unsplash.com/photo-1486122741729-1a39ece53a48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)">
          East London
        </div>
        <div class="card" style="background-image: url(https://images.unsplash.com/photo-1557227065-0e8556bb4128?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1760&q=80)">
          West London
        </div>
      </div>
    </div>

</div>

<div class="content">
  <div class="cards">
    <div class="card" style="background-image: url(https://images.unsplash.com/photo-1486122741729-1a39ece53a48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)">
      East London
    </div>
    <div class="card" style="background-image: url(https://images.unsplash.com/photo-1557227065-0e8556bb4128?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1760&q=80)">
      West London
    </div>
  </div>
</div>

<div class="container my-5">

  <div class="row">
    <div class="col">

      <% if user_signed_in? %>
        <p>Welcome back</p>
      <% else %>
        <%= link_to new_user_session_path do %>
          <button class="btn btn-dark">Sign in</button>
        <% end %>
      <% end %>

    </div>
  </div>
</div>

<%#= render 'shared/footer' %>
