.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background-color: #003C66;
}

#dropdownMenuButton {
  background-color: #003C66;
  border: none;
}
.footer {
  background-color: #003C66;
}
